@font-face {
    font-family: 'GraphikReg';
    font-style: normal;
    src: url('./Graphik-Regular.woff') format('woff')
}

body,html {
    padding: 0;
    margin: 0;
    font-family: 'GraphikReg';
}

h2 {
    text-align: center;
}

.global{
    width: 100vw;
}

.subGlobal {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    /* gap: 60px */
}

.subGlobal div input {
    width: calc(100% - 20px);
}

.globalElement { 
    display: flex;
    margin-bottom: 20px;
}

.button {
    text-align: center;
    cursor: pointer;
    width: max-content;
    background-color: rgb(237, 237, 237);
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.addElementButton {
    width: 25%;
}


.generalElement {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 80px;
    margin: 15px 0;
    padding: 15px 0;
    /* border-bottom: 1px solid black; */
}

.subGeneralElement {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 60px;
    /* border-bottom: 1px solid black; */
}

.generate {
    margin:20px auto;
}

.globalElement:last-child {
    display: none;
    margin-top: 20px;
    overflow-x: scroll;
}

.subGlobalElement {
    min-width: 190px;
}

.result {
    padding:20px
}

.buttonDelete {
    padding: 5px;
    width: calc(100% - 20px);
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
    background-color: darkred;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.titleCred {
    font-size: 25px;
    margin: 30px 0
}

.generalElementCredit {
    background-color: lightgrey;
    padding:10px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: relative;
}

.deleteElementCredit {
    cursor: pointer;
    font-size: 9pt;
    color:red;
    position: absolute;
    top: 10px;
    right: 10px;
}